<!DOCTYPE html>
<html lang="en">

	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Task</title>
	<link rel="stylesheet" href="../style.css">
	</head>

	<body>
	<h1>Edit Task</h1>
	<form action="/update" method="post">
	<input type="hidden" name="task_index" value="{{task_index}}">
	<lable for="edited_task">Edit Task:</lable>
	<input type="text" id="edited_task" name="edited_task" value="{{task_to_edit}}" required>
	<button type="submit">Update</button>
	</form>

	</body>
</html>
